<div>
    <img alt="140x140" style="width: 120px; height: 120px;margin-left: 100px;margin-top: 20px" th:src="${currentUser.headImg}" class="img-circle" />
    <p style="margin:20px 0 10px 135px" th:text="${currentUser.nickName}"></p>
    <!--手风琴按钮-->
    <div class="panel-group" id="hand-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title" style="color: #337ab7" data-toggle="collapse" data-parent="#hand-panel" href="#panelFirst">联系方式</a>
            </div>
            <div id="panelFirst" class="panel-collapse in">
                <div class="panel-body">
                    WeChat: <span th:text="${currentUser.wechatNum}"></span>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" style="color: #337ab7" data-toggle="collapse" data-parent="#hand-panel" href="#panelEnd">个人信息</a>
            </div>
            <div id="panelEnd" class="panel-collapse collapse">
                <div class="panel-body">
                    所属机构：<span th:text="${currentUser.orgName}"></span><br/>
                    身份：<span th:text="${userStatusStr}"></span>
                </div>
            </div>
        </div>
    </div>
</div>