.editTitle{
    text-align: center;
    width: 550px;
    border: none;
    border-radius: 1px;
    border-bottom: #8D8D8D 1px solid;
}
.authorInfo{
    margin-top: 15px;
}
.authorInfo img{
    width: 30px;
    height: 30px;
}
.authorName{
    margin-left: 5px;
    font-size: medium
}
.date-icon{
    width: 22px;
    height: 22px;
    margin-left: 100px
}
.date-info{
    margin-left: 5px;
    font-size: medium
}
.publish{
    position: absolute;
    right: 20px
}
.newsBody textarea{
    display: none;
    height: 700px
}
.newsBody p{
    margin-top: 10px
}
/*上传图片*/
.uploadImg {
    width: 210px;
    height: 124px;
    margin-left: 50px;
}

.uploadImg a {
    display: table-cell;
    margin-left: 0;
    font-size: 14px;
    font-weight: bold;
    height: 124px;
    text-align: center;
    vertical-align: middle;
    width: 210px;
    border: 2px dashed #c4c4c4;
    color: #7b7b7b;
    text-decoration: none;
    cursor: pointer;
}

.uploadImg a strong {
    font-size: 38px;
    line-height: 36px;
}

.uploadImg a:hover {
    border: 2px dashed #6ac2f0;
    color: #4d4d4d;
}