<div class="container" >
    <div class="row clearfix" style="margin-top: 65px">
        <div class="col-md-4 column">
            <h3>
                您可以这样联系我们<a  href="#modal-container-645961" role="button" class="btn" data-toggle="modal"><img th:src="@{/img/wechat/wechat.png}"></a>
                <!--wechat弹窗-->
                <div class="modal fade" id="modal-container-645961" role="dialog" aria-labelledby="myModalLabe2" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div style="background-color: lightblue" class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabe2">
                                    您可以通过扫描二维码联系我们
                                </h4>
                            </div>
                            <div class="modal-body" style="left: 60px">
                                <img th:src="@{/img/wechat/myWechat.jpg}" alt="">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            </div>
                        </div>

                    </div>

                </div>
            </h3>
        </div>
        <div class="col-md-8 column">
            <p>网站维护微信：<strong>xd474786105</strong> 反馈建议：<em>dtdhehe@sina.com</em></p>
            <p>Copyright © 2018  <a id="address_btn" href="#myAddress" role="button" style="color: #337ab7" class="btn" data-toggle="modal">dtdhehe</a>保留所有权利</p>
            <!--联系方式弹窗-->
            <div class="modal fade" id="myAddress" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div style="background-color: lightblue" class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                联系方式
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p>phone : 15892055087（微信同号）</p>
                            <p>Q  Q : 474786105</p>
                            <p>address : 福建省厦门市湖里区上湖社</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>