<!--导航栏-->
<nav class="navbar-inverse visible-lg visible-md" role="navigation" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.ptu.edu.cn/">莆田学院</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/ptu/homePageController/home}">首页</a></li>
                <li><a th:href="@{/ptu/homePageController/life}" >生活</a></li>
            </ul>
        </div>
        <div id="loginBtn" style="display: none;">
            <button type="button" class="btn btn-warning pull-right" style="margin-top: 10px" th:onclick="|loginStatus('regist')|">注册</button>
            <button type="button" class="btn btn-info pull-right" style="margin-top: 10px"  th:onclick="|loginStatus('login')|">登录</button>
        </div>
        <div id="logoutBtn" style="display: none;">
            <ul class="layui-nav pull-right" style="background-color: #222;padding: 0;">
                <li class="layui-nav-item">
                    <a href=""><img alt="头像" style="width: 35px; height: 35px;margin: 10px" th:src="${session.loginUser.headImg}" class="img-circle" /></a>
                    <dl class="layui-nav-child">
                        <dd style="line-height: 36px"><a href="/news/newsController/editNews">发布新闻</a></dd>
                        <dd style="line-height: 36px"><a href="/answer/answerController/getEditAnswer">发布问答</a></dd>
                        <dd style="line-height: 36px"><a href="/myInformationController/getMyInformation">查看资料</a></dd>
                        <dd style="line-height: 36px"><a href="/login/loginController/logout" >退出登录</a></dd>
                    </dl>
                </li>
            </ul>
            <!--<button type="button" class="btn btn-success pull-right" style="margin-top: 10px" th:onclick="|loginStatus('logout')|">退出登录</button>-->
        </div>
    </div>
</nav>